.faqSection {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

}

.leftColumn {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  
  @media (max-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }
}

.rightColumn {
  max-width: 750px;
  border-top: 1px solid;
  @media (max-width: 768px) {
    width: 100%;
  }

}

.title {
    font-weight: var(--font-weight-semibold);
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: -4%;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
}

.description {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: 26px; /* 185.714% */
  margin: 0;
  max-width: 800px;
  
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.accordionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordionItem {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid;

  
  &:last-child {
    margin-bottom: 0;
  }
  
  // Zapewnienie że wrapper animacji nie zakłóca layoutu
  > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.accordionButton {
  font-family: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
gap: 1rem;  
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  
  &.expanded {
    transform: rotate(45deg);
  }
}

.accordionContent {
  overflow: hidden;
  padding: 0 1rem 0 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease;
  will-change: max-height, opacity;
  
  &.expanded {
    padding-bottom: 1rem;
    max-height: 500px; /* Bardziej optymalna wartość */
    opacity: 1;
  }
}

.accordionAnswer {
  font-size: 1rem;
  line-height: 1.6;
  padding-inline: 0.5rem;
}

