.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #b0b0b0;
  background-color: var(--background);
  border-radius: 0;
  padding: 0;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transform-style: preserve-3d;
  
  &:hover {
    transform: translateZ(15px) scale(1.01);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 18.75rem; /* 300px */
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  filter: grayscale(100%) brightness(90%);
  transition: filter 0.6s ease-in-out, transform 0.6s ease-in-out;

  &:hover {
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.02);
  }
}


.content {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-normal);
  line-height: 2rem;
  letter-spacing: -0.1rem;
  text-align: start;
  margin: 0 0 0.5rem;
  color: var(--foreground);
}

.description {
  font-size: 0.875rem;
  line-height: 1.2rem;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--foreground);
  margin: 0 0 1rem;
  flex-grow: 1;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;
  justify-content: center;
}

//ver 1
/* .technology {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--accent);
  color: var(--black);
  border: 2px solid var(--black);
  font-weight: var(--font-weight-medium);
} */

.technology {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 9999px; /* ładne, pełne zaokrąglenie */
  font-weight: var(--font-weight-medium);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


@media (max-width: 768px) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }
  
  .imageContainer {
    height: 160px;
  }
  
  .content {
    padding: 1rem;
  }
  
  .title {
    font-size: 1.1rem;
  }
  
  .technologies {
    justify-content: flex-start;
  }
}
