.page {
  min-height: 75dvh;
  padding: 2rem 1rem;
  background-color: var(--background, #ffffff);
  color: var(--foreground, #000000);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--foreground);
  text-transform: uppercase;
}

.intro {
  font-size: 1.25rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4rem;
  color: var(--foreground);
  line-height: 1.6;
}

.certificatesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolumny na desktop */
  gap: 2rem;
  margin-top: 2rem;
}

.certificate {
  overflow: hidden;
  background: var(--background);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);

}

.certificateImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* Dopasowanie obrazu do kontenera */
}

.pdfFrame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  object-fit: contain;
    pointer-events: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  

  .certificatesGrid {
    grid-template-columns: 1fr; /* 1 kolumna na mobile */
    gap: 1rem; /* Zmniejszenie przerwy na mobile */
      margin-top: 1rem;
  }
}
