.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 0;
  height: 60dvh;
  overflow: visible;
  position: relative;
}

.top {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 20px;
  width: 50%;
  z-index: 2;
}

.top .title {
  font-size: 38px;
  font-weight: var(--font-weight-bold);
  line-height: 110%;
  letter-spacing: -1%;
  margin: 0 0 1rem 0;
  padding: 0.75rem 1.25rem;
  background-color: var(--accent);
  color: var(--black);
  display: inline-block;
  transform: rotate(-1deg);
  box-shadow: 5px 5px 0 var(--black);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  border: 3px solid var(--black);
  max-width: 90%;
  
  @media (max-width: 1200px) {
    font-size: 34px;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 0 var(--black);
  }
  
  @media (max-width: 768px) {
    font-size: 28px;
    transform: rotate(-0.5deg);
  }
}

.top .desc {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 24px 0;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem; 
  min-height: 3.5rem;
  padding: 0.5rem 0; 
  
  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0; 
    gap: 0.75rem;
    align-items: center;
    
    & > button {
      width: 95%;
      margin: 0;
    }
  }
}

.bottom {
  flex: 1;
  z-index: 1;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 0;
    height: 85dvh;
    position: relative;
    padding: 0.5rem 0 1.5rem;
  }
  
  .top {
    width: 100%;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  .top .title {
    font-size: 22px;
    text-align: center;
    margin: -50px auto 0 auto;
    max-width: 100%;
    width: 100%;
    transform: rotate(0deg);
    position: relative;
    z-index: 10;
    box-shadow: 4px 4px 0 var(--black);
    border-width: 2px;
    padding: 0.5rem 0.75rem;
  }
  
  .top .desc {
    text-align: start;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    background-color: var(--background);
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;;
  }
  
  .bottom {
    width: 100%;
  }
  
  .imageContainer {
    height: 300px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    width: calc(100% - 1rem);
  }
  
  .buttonContainer {
    width: 100%;
    padding: 0;
  }
}



