.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
justify-content: center;
gap: 40px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 20px;
  width: 50%;
}

.title {
  font-weight: var(--font-weight-semibold);
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -4%;
  margin: 0;
}

.top .desc {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.benefits:last-child {
  border-bottom: 1px solid var(--border);
}

.benefit {
  border-top: 1px solid var(--border);
  padding-block: 3rem;
  padding-inline: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}



.index {
  width: 5rem;    
  height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: var(--font-weight-light);
  margin-right: 1rem;
  border: 3px solid var(--foreground);
  border-radius: 50%;
  flex-shrink: 0; 
  color: var(--foreground);
}


.content {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 2.5rem;
  font-weight: var(--font-weight-light);
  //text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -4%;
  margin-bottom: 0.5rem;
}

.description {
  line-height: 1.6;
}



@media (max-width: 768px) {
  .wrapper {
    gap: 32px;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 20px;
    width: 100%;
  }

  .top .title {
    font-size: 32px;
    letter-spacing: -1.28px;
  }

  .top .desc {
    font-size: 16px;
    line-height: 26px; /* 162.5% */
  }


}