.page {
  padding-block: 2rem;
  max-width: 77.5rem; /* 1240px / 16 */
  min-height: 75dvh;
  height: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.formContainer {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.auditFormsContainer {
  margin-top: 1rem;
  
  .auditFormWrapper {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    h3 {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      color: #333;
    }
  }
}

.auditSetupForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.label {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.checkboxItem {
  display: flex;
  align-items: center;
  
  &:last-child {
    border-bottom: none;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

/* Dodaj kropkę po zaznaczeniu */
.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--vanilla);
  transform: translate(-50%, -50%);
}

.checkboxLabel {
  cursor: pointer;
  padding-left: 0.5rem;
}

.saveButtonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  
  button {
    min-width: 150px;
  }
}

.backLink {
  color: #0070f3;
  text-decoration: none;
  margin-bottom: 1.5rem;
  display: inline-block;
  font-size: 1rem;
  
  &:hover {
    text-decoration: underline;
  }
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.errorMessage {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.successMessage {
  color: green;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.notAuthenticated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 1rem;
}
