.wrapper {
    width: 100%;
    height: 100%;
    margin-block: 2rem;
}

.title {
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.errorTitle {
    margin-top: 1rem;
}

.errorList {
    margin-left: 1rem;
    li::marker {
        content: "- ";
    }
}



.errorItem {
    margin-bottom: 0.5rem;
}

.categoryTitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: var(--font-weight-medium);
}

.problemItem{
    margin-bottom: 0.2rem;
    margin-left: 1rem;
   list-style: none;

}

.problemItemTitle {
    margin-bottom: 0.2rem;
}

.aiSummary {
    background-color: pink;
}
 


.clientReadyTitle {
    font-size: 1.5rem;
    margin: 0;
}


